*{
    margin: 0;
    padding: 0;
}

html body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
}

body #card{
    width: 350px;
    height: 500px;

    border: 2px solid white;
    border-radius: 10px;
    text-align: center;

}


#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 9px;
}

#card h1{
    color: rgb(232, 247, 202);
    margin: 10px;
    font-family:fantasy ;

    letter-spacing: 1px;
    font-weight: 900;
}

#card h2{
    color: rgb(241, 80, 69);
    letter-spacing: 1.5px;

}

#card button{
    height: 60px;
    width: 250px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: aquamarine;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}