*{
    margin: 0;
    padding: 0;
}

html Body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(51, 50, 49);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 50vh;
    width: 25vw;
    border: 0.2vw solid white;
    border-radius: 1.5vh;
    margin-bottom: 10vh;
    background-image: url(https://images.unsplash.com/photo-1573865526739-10659fec78a5?q=80&w=1015&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);


    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

}

i{
    font-size: 50px;
    color: white;
    opacity: 0;
    /* transform: scale(2); */
    transition: all ease 0.5s;
}