body{
 background-color: black;
}

/* -------- For card Components ---------- */
/* .card{
  border: 2px solid rgb(192, 191, 191);
  border-radius: 20px;

  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.2);

  padding: 20px;
  margin: 10px ;

  text-align: center;

  max-width: 250px;

  display: inline-block;

  // display inline is make the div block level to only space level (means it takes only the space which is needed) 

   line-height: 10px; 

}


.card .card-image{

  max-width: 70%;
  border-radius: 50%;
  margin-bottom: 20px;

}

.card .card-title{
  font-family: system-ui, -apple-system ;
  margin: 0;
  color: hsl(0, 0%, 20%);
}


.card .card-text{
  font-family: system-ui, -apple-system ;
  color: hsl(0, 0%, 20%);
}
 */



/* ******** For Button **********  */
/* .button{
  
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  background-color: rgba(8, 182, 182, 0.843);
  cursor: pointer;

} */
