*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(22, 30, 35);
}

html, body{
    height: 100%;
    width: 100%;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#insta{
    height: 480px;
    width: 320px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(38, 39, 37, 0.354);
    overflow: hidden;
    position: relative;

    transition: 2s;


}

#insta .stories{
    height: 110px;
    width: 100%;
    border-bottom: 0.5px solid rgb(94, 94, 93);
    padding: 15px;
    padding-right: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

}

.stories::-webkit-scrollbar{
        display: none;
    }

.story{
    height: 80px;
    width: 80px;
    border: 2px solid rgb(239, 29, 71);
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}




#insta #full-Screen{
    height: 100%;
    width: 100%;
    /* display: none; */
    position: absolute;
    background-size: cover;
    background-position: center;


    transform: scale(0.5);
    opacity: 0;
    transition: all ease 0.7s;
    pointer-events: none;

    
}